# list of ignored files/folders
getdp
getdp.exe
gmsh
gmsh.app
gmsh.exe
res/
res*/
resOld/
*~
*.o
*.obj
*.bak
*.vtk
*.out
*.pdf
*.exe
*.txt
*.pos
*.pre
*.msh
*.opt
*.db
*.res
*.dat
*.asv
*.eps
*h.gch
*.mpg
test.*
.DS_Store
!CMakeLists.txt
file_*
*.zip